
@media(max-width:450px){
body{
    table:none;

}
}
h1{
    color:blue;
}
table{
    height:400px;
    width: 1340px;
}
td{
    text-align: center;
}
#books:hover{
    transform: translateY(10px);
    box-shadow: 5px 20px 17px black;
}
#books{
    box-shadow: 9px 9px 3px black;
}
h1{
    text-align: center;
}
#logo{
    margin-left:550px ;
}
button{
    height:40px ;
    width:100px ;
    background-color:black ;
    color: yellow;
    font-size: large;
    box-shadow:3px 3px 5px black ;
    
}
button:hover{
    border-radius:20px ;
    background-color:yellow;
    color:black ;
}
#books{
    border-radius: 10px;
}





